/* Fuente de Google 'Roboto' */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /**
   * # Colores
   */
  /* Solidos */
  --bg-color-1: #0a0a0f;
  --bg-color-2: #16161f;
  --bg-color-3: #22222c;
  --bg-color-4: #1a1a22;
  --text-primary: #f8f2e7;
  --text-secondary: #b0b0b5;
  --accent-blue: #099fed;
  --accent-blue-hover: #005696;
  --highlight-blue: #46b2ff;
  --timeline-color: #a7a8aa;
  --badge-color: #d0ddec;

  /* Gradientes */
  --gradient-1: linear-gradient(60deg, #111111 0%, #1a1a1a 100%);
  --gradient-2: radial-gradient(125% 125% at 50% 10%, #000 40%, #63e 100%);
  --gradient-3: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
  --gradient-4: linear-gradient(60deg, #0a0a0a 0%, #111111 100%);

  /* Transparentes */
  --transparent: rgba(255, 255, 255, 0.06);
  --transparent-hover: rgba(255, 255, 255, 0.15);
  --transparent-border: rgba(255, 255, 255, 0.18);

  /**
   * # Tipografia
   */
  --ff-custom: "Roboto";

  /**
   * # Shadow
   */
  --shw-1: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  --shw-2: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --shw-3: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  --shw-4: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  --shw-5: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

  /**
   * # Transition
   */
  --transition-1: all 0.3s ease;
  --transition-2: all 0.5s ease-in-out;
  --transition-3: opacity 0.3s ease;

  /**
  * # Sidebar
  **/
  --sidebar-width: 20rem;
}

/*-----------------------------------*\
  # RESETEAR ESTILOS
\*-----------------------------------*/
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--text-primary);
}

li {
  list-style: none;
}

button {
  display: block;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

html,
body {
  min-height: 100%;
}
body {
  background: var(--gradient-2);
  font-family: var(--ff-custom);
  color: var(--text-primary);
}

/*-----------------------------------*\
  # ESTILOS BASE
\*-----------------------------------*/
.main-content {
  margin-left: 25rem;
  width: calc(100% - 25rem);
}

.separator {
  width: 90%;
  height: 1px;
  background: var(--highlight-blue);
  margin: 30px auto;
}

.icon-box {
  position: relative;
  background: var(--bg-color-3);
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--highlight-blue);
  box-shadow: var(--shw-4);
  z-index: 1;
}

article {
  display: none;
  padding: 20px 50px;
}

article.active {
  display: block;
  animation: fade 0.5s ease backwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.article-title {
  position: relative;
  padding: 0.5em 0 0.5em 0;
  margin-bottom: 1em;
}

.article-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 5px;
  background: var(--highlight-blue);
  border-radius: 3px;
}

.section-content {
  width: 100%;
  background-color: var(--transparent);
  margin: 2em 0;
  box-shadow: var(--shw-3);
  backdrop-filter: blur(20px);
  border: 1px solid var(--transparent-border);
  border-radius: 1rem;
  padding: 1.5rem;
  z-index: 1;
}

.section-title {
  position: relative;
  display: inline-block;
  margin-bottom: 1em;
  transition: color 0.4s ease-out;
}

.section-title::after,
.section-title::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: var(--gradient-3);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease-out;
}

.section-content:hover .section-title::after,
.section-content:hover .section-title::before {
  transform: scaleX(1);
}

.section-content:hover .section-title {
  color: var(--accent-blue);
}

.section-content:hover {
  background: var(--transparent-hover);
}
/*-----------------------------------*\
  # Sidebar
\*-----------------------------------*/
/* sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 25rem;
  background: var(--gradient-1);
  height: 100vh;
  box-shadow: var(--shw-2);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.sidebar-heading .name {
  font-weight: var(--fw-500);
}

.sidebar-heading .title {
  color: var(--text-primary);
  background: var(--accent-blue);
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
  width: max-content;
  padding: 3px 10px;
  border-radius: 5px;
}

/* Navbar */
.navbar-list {
  display: flex;
  width: 100%;
  padding: 0;
  flex-direction: column;
  align-items: center;
}

.navbar-item {
  display: flex;
  align-items: center;
  width: 80%;
  padding: 15px 0;
  gap: 20px;
}

.navbar-link {
  color: var(--text-secondary);
  border-bottom: var(--highlight-blue);
  padding: 0;
}

.navbar-link:hover {
  color: var(--accent-blue-hover);
}

.navbar-link.active {
  color: var(--accent-blue);
}

/* Redes sociales */
.social-content {
  background: var(--gradient-4);
  background-blend-mode: multiply;
  border-top: 1px solid var(--accent-blue);
  box-shadow: var(--shw-5);
  margin: 0 0 -1em 0;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 15px 0 0 0;
}

.social-item .social-link {
  color: var(--accent-blue);
  font-size: 32px;
}

.social-item .social-link:hover {
  color: var(--accent-blue-hover);
}

/*-----------------------------------*\
  # Sobre mi
\*-----------------------------------*/

.service-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.service-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 300px;
  align-items: center;
  background: var(--gradient-1);
  border-radius: 15px;
  box-shadow: var(--shw-2);
  border: 1px solid var(--transparent-border);
  z-index: 1;
  gap: 20px;
  padding: 30px;
}

.service-icon-box i {
  color: var(--accent-blue);
  width: 40px;
  height: 40px;
}

.service-content-box {
  margin: 10px 0 0 10px;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.skill-item {
  display: flex;
  align-items: center;
  padding: 0 20px;
  align-items: center;
}
/*-----------------------------------*\
  # Experiencia
\*-----------------------------------*/
/* Timeline */
.timeline {
  position: relative;
  width: 100%;
}
.timeline:before {
  background-color: var(--timeline-color);
  content: "";
  position: absolute;
  left: 2rem;
  width: 1px;
  height: 100%;
}

.timeline-event {
  position: relative;
}
.timeline-event:hover .timeline-event-icon {
  transform: rotate(-45deg);
  background-color: var(--accent-blue-hover);
}

.timeline-event:hover .timeline-event-thumbnail {
  box-shadow: inset 40em 0 0 0 var(--accent-blue-hover);
}

.timeline-event-content {
  padding: 0;
  position: relative;
  left: 2em;
  width: calc(100% - 4em);
  margin: 1.5em 0;
}

.timeline-event-icon {
  transition: transform 0.3s ease-in;
  background-color: var(--bg-color-4);
  outline: 2px solid var(--highlight-blue);
  margin: 0.5em 0.5em 0.5em -0.5em;
  position: absolute;
  left: 0;
  width: 1em;
  height: 1em;
}

.timeline-event-thumbnail {
  transition: box-shadow 0.5s ease-in;
  box-shadow: inset 0 0 0 0em;
  display: inline-block;
  margin: 0;
}

.task-list li {
  list-style: circle;
}

.course-content .badge {
  border: 1px solid var(--badge-color);
  border-radius: 20px;
  color: var(--badge-color);
}

/*-----------------------------------*\
  # Portafolio
\*-----------------------------------*/
/* Filtro */
.filter-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  padding-left: 5px;
  margin-bottom: 30px;
}

.filter-btn {
  color: var(--light-gray);
  font-size: var(--fs-5);
  transition: var(--transition-1);
}

.filter-btn:hover {
  color: var(--accent-blue-hover);
}

.filter-btn.active {
  color: var(--highlight-blue);
}

/* Proyectos */
.project-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.project-item {
  display: none;
  width: 350px;
}

.project-item.active {
  animation: scaleUp 0.5s ease forwards;
  display: flex;
}

@keyframes scaleUp {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.project-item {
  width: 300px;
  border-radius: 1em;
  border: 2px solid var(--transparent-border);
  box-shadow: var(--shw-2);
  padding: 0;
}

.project-item a {
  width: 100%;
}

.project-item:hover a {
  color: var(--accent-blue-hover);
}

.project-img {
  position: relative;
  max-width: 100%;
  height: 250px;
  overflow: hidden;
  background: var(--gradient-4);
  border-radius: 15px 15px 0 0;
}

.project-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform var(--transition-1);
}

.project-img img[src=""] {
  display: none;
}

.project-item:hover .project-img::after {
  background: hsla(0, 0%, 0%, 0.5);
}

.project-item:hover .project-img img {
  transform: scale(1.1);
}

.project-item-icon-box {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease, transform 0.3s ease;
  background: var(--bg-color-3);
  color: var(--highlight-blue);
  font-size: 1em;
  padding: 1em;
  border: 1px solid var(--transparent-border);
  border-radius: 1em;
  opacity: 0;
}

.project-img:hover .project-item-icon-box {
  opacity: 1;
  transform: translate(-50%, -50%) translateY(0);
}

.project-img:hover .img-text {
  opacity: 0;
}

.project-title {
  text-align: center;
  margin: 0;
  padding: 0;
}

.project-category {
  text-align: center;
}

.img-text {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8em;
}
/*-----------------------------------*\
  # Contacto
\*-----------------------------------*/
.contacto-item {
  margin-bottom: 10px;
  width: 300px;
}

.contacto-item a {
  display: flex;
  gap: 10px;
}

.contacto-item a:hover {
  color: var(--accent-blue-hover);
}

.contacto-item .icon-box i {
  color: var(--accent-blue);
  font-size: 1.5em;
}

.map-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: var(--transparent);
  border-radius: 1em;
  border: 1px solid var(--transparent-border);
}

#map {
  height: 400px;
  width: 100%;
  z-index: 1;
  border-radius: 1em 1em 0 0;
}

.map-info {
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  padding: 15px;
  justify-content: center;
}

/*-----------------------------------*\
  # Responsive
\*-----------------------------------*/
@media screen and (min-height: 600px) {
  .social-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
  }
}

/* Estilos para Desktop */
@media (min-width: 992px) and (max-width: 1199px) {
  .main-content {
    margin-left: 15rem;
    width: calc(100% - 15rem);
  }

  /* sidebar */
  .sidebar {
    width: 15rem;
  }
  .sidebar-heading .name {
    font-size: 1.8rem;
  }

  /* portafolio */
  .project-list {
    justify-content: center;
  }
}

/* Estilos para Moviles */
@media (max-width: 991px) {
  .main-content {
    margin-left: auto;
    width: 100%;
    padding: 0;
  }

  /* mobile navbar */
  .mobile-navbar {
    display: block;
    background-color: rgba(0, 0, 0, 0.5) !important;
    backdrop-filter: blur(20px);
    border-radius: 1em 1em 0 0;
    z-index: 10;
  }

  .mobile-navbar .navbar-link {
    color: var(--text-primary);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
  }

  .mobile-navbar .navbar-link:hover {
    color: var(--accent-blue-hover);
  }

  .mobile-navbar .navbar-link.active {
    color: var(--highlight-blue);
  }

  /* article */
  article {
    padding: 0.5em;
  }
}
